.bluebox{
    background-color:blue;
    height:100px;
    width: auto; 
}

.greenbox{
    background: rgba(0, 128, 0, 0.3);
    height: 100px; 
}

.yellowbox{
    background-color:yellow;
}

.great{
    font-size: 300%;
}

p {
    margin:0;
    /* background-color: #abc; */
}