.bluebox{
    /* background-color: blue; */
    color: blue;
    height: 100px;
    width: auto;
}

.blue{
    color:blue;
}

.greenbox{
    background-color: green;
}

.yellowbox{
    background-color: yellow;
}

.great{
    font-size: 300%;
}